* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.App {
  margin: 5px auto;
  padding: 10px;
  width: 100%;
}

.ui.label {
  margin-top: 3px !important;
}

.m-5 {
  margin: 5px !important;
}

.ui.table thead th {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.credits {
  margin: 10px;
}
